<h2>Admin Dashboard</h2>

<div class="add-box mb-6">
  <input placeholder="Product Name" [(ngModel)]="newProduct.name" />
  <input type="number" placeholder="Price" [(ngModel)]="newProduct.price" />
  <select [(ngModel)]="newProduct.category">
    <option *ngFor="let cat of ['ELECTRONICS','CLOTHING','SPORTS','BOOKS','OTHER']" [value]="cat">{{ cat }}</option>
  </select>
 <input type="file" (change)="onFileChange($event)" />
  <button (click)="addProduct()">Add Product</button>
</div>

<table class="w-full border">
  <thead>
    <tr>
      <th>Name</th>
      <th>Price</th>
      <th>Category</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let p of products">
      <td>{{ p.name }}</td>
      <td>₹{{ p.price }}</td>
      <td>{{ p.category }}</td>
      <td>
        <button class="danger" (click)="p.id && deleteProduct(p.id)">
  Delete
</button>
</td>
    </tr>
  </tbody>
</table>
