<div class="max-w-7xl mx-auto px-4">
  <p>
    Amaris Leather Store,Where Craftsmanship Meets Elegance

Amaris Leather is an e-commerce platform designed to provide users with a seamless and modern online shopping experience for high-quality synthetic (fake) leather goods. Developed using an enterprise-level tech stack with Angular, NestJS, PostgreSQL, Prisma, and Tailwind CSS, the system enables secure user authentication, product browsing, cart and wishlist management, and a streamlined checkout process. With admin tools for managing products and orders, the platform ensures efficiency, scalability, and enhanced customer satisfaction while promoting premium faux-leather craftsmanship through digital innovation.

  </p>
</div>

